
html,body{
  --maincolor : rgb(254,197,30);
  --secoundcolor : rgb(236,8,8);
  --mainfontofhead: Volkhov;
  --mainfontoftext: Inter;
  overflow-x: hidden;
}
.navbar-nav{
  font-family: var(--mainfontoftext);
  font-size: 18px;

}
.button-style button{
  background-color: var(--maincolor);
  color: white;
  border: unset;
  border-radius: 22px;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  -ms-border-radius: 22px;
  -o-border-radius: 22px;
  width: 149px;
  height: 43px;
}
.bg-nav{
  background-color: rgb(245, 245,245);
}
.bg-img{
  background-image: url('../imges/amr-taha-Vn80vVyIY3w-unsplash.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
}
.style-head{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 50px ;
  color: white;
  font-weight: bold;
  padding-top: 70px;
}
.style-head span{
 color: var(--secoundcolor);
}
.button-style1  button{
  width: 185px;
  height: 62px;
  background-color: var(--maincolor);
  color: white;
  border: unset;
  border-radius:31px ;
  font-family: var(--mainfontoftext);
  font-size: 18px;
  font-weight: bold;
}
.button-style1  .button2{

  background-color: transparent;
  color: white;
  border: 2px white solid;
  margin-left: 20px;
}
.button-style1{
  margin-top: 20px;
}
.layer{
  position: absolute;
  top:0;
  bottom:0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0,0.5);
  height: 90vh;
}
.content{
  z-index: 999;
  width: 50%;
}
.p{
  margin-top: 20px;
}
/******Sec1******/
#sec1{
  margin-top: 100px;
}
.h2-sec{
  font-family: var(--mainfontoftext);
  font-size: 65px;
  font-weight: bold;

}

.span2 ,.span4
{
   color: var(--maincolor);
   margin-right: 7px;
}
.span5{
  color: var(--secoundcolor);
  margin-left: 7px;
}
.content-sec1 p{
  font-family: var(--mainfontoftext);
  font-size:30px;
  color: black;
  margin-top: 20px;


}
.cat{
  background-color:var(--maincolor) ;
  padding: 20px;
  border-radius: 30px;
  width:661px;
  height: 150px;
}
.cat  h4{
   color: white;
   font-size: 40px;
   font-family: var(--mainfontoftext);
}
.cat  p{
   color: white;
   font-size: 15px;
   font-family: var(--mainfontoftext);
}
.angle{
  width:30px;
  height:30px;
  border-radius:50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content:center ;
 
}
.angle i{
  color: var(--maincolor);
}
/******Sec2******/
#sec2{
  margin-top: 100px;
}
.button-style2{
  width: 180px;
  height: 49px;
  background-color: var(--maincolor);
  color: white;
  
  border-radius:31px ;
  font-family: var(--mainfontoftext);
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
figcaption .button-size{
  width: 180px;
  height: 49px;
  display: flex;
  justify-content: center;
  width: 100%;
}
/******Sec3******/
#sec3{
  margin-top: 100px;
 
}
.p-2{
  font-family: var(--mainfontoftext);
  font-size: 24px;
  font-weight: 300;
}
.card{
  width: 545px;
  height: 294px;
  padding: 20px;
  border-radius: 15px;
}
.clint{
  font-family: var(--mainfontoftext);
  font-size: 20px;
}
.buttons button{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--maincolor);
  display: flex;
  align-items: center;
  justify-content: center;
}

/******Sec4******/
#sec4{
  background-image: url('../imges/CTA.png');
  background-size: cover;
  height: 100vh;
   width: 100%;
   margin: auto;
   background-position: center;
  background-repeat: no-repeat;
}
/******Sec5******/
#sec5{
  margin-top: 100px;
  margin-bottom: 100px;
}
.bg{
  background-color: #F3274C;
  width: 358px;
  height: 364.95px;
  border-radius: 30px;

}
.font{
  font-family: Fugaz One;
  font-size: 24px;
  color: white;
  font-weight: bold;
  margin-bottom: 0;
}
.fs-1-1{
  font-size: 10px;
}
.fs{
  font-size: 16px;
}
.col2{
  font-family: Fugaz One;
  font-size: 26px;
  position: relative;
  font-weight: bold;
}
.col2 h3{
  border-bottom: 5px solid var(--maincolor);
  display: inline-block;
  font-weight: bold;
}
.col2 p{
  font-family: Epilogue;
  font-size: 16px;
  color: black;
}
.button1 button{
  width: 158.63px;
  height: 60px;
  background-color:#F3274C;
  color: white;
  margin-top: 30px;
  border-radius: 15px;
  border: none;
  font-family: var(--mainfontoftext);
}
.p2{
  border: 3px solid var(--maincolor);
  width:150px ;
  height:75px ;
  top:25%;
  left: 7%;
  border-radius:15px ;
 
}
.our-content{
  width: 70%;
}
.bg-cont-ourvision{
  background-image: url('../imges/Section\ \(2\).png');
  height: 100vh;
}
.bg-cont-ourvision h2{
  font-family: Fredoka One;
  font-size: 60px;
  font-weight: bold;

}
.bg-h2{
   border-radius: 30% / 30%;
   background-color: var(--maincolor);
   padding: 5px; 
}

.our-content P{
  color: #555555;
  font-family:Fredoka One;
  font-size: 18px;
  margin-top: 10px;
  font-weight: bold;
}
.our-content input{
  border: solid rgba(0, 0, 0,0.3) 3px;
  
}
.p2-2{
  border: 3px solid var(--maincolor);
  width:165px ;
  height:75px ;
  top:25%;
  left: 0%;
  border-radius:15px ;
}
.order{
  height: 100px;
  width:240px;
  background-color: white;
  border-radius: 30%;
 padding: 10px;
 position: absolute;
 top:100px;
 right: 30px;
 
}
.order p{
  font-family: Fredoka One;
  font-size: 20px;
  color: #000;
  font-weight: bold;
}
.imgs{
  position: absolute;
  top: 220px;
  right: 30px;
 
}
.transform{
  transform: translate(2%,-25%);

}
.circle-img{
  border-radius: 50%;
   margin: auto;
}
.span6{
  color: #F3274C;
  margin-right: 7px;
}
.text p:first-of-type {
  font-family: 'Fredoka One';
  font-size: 18px;
}
.text h2{
  font-family: 'Fredoka One';
  font-size: 60px;
  font-weight: bold;
  
}
.text p:nth-of-type(2),.test p{
  color: #555555;
  font-family: Epilogue;
}
.text p:nth-of-type(3){
  color: #555555;
  font-family: 'Fredoka One';
  font-weight: bold;
}
.text p:nth-of-type(4){
   font-size: 20px;
  font-family: Inter;
  font-weight: bold;
}
.discount{
 top:0px;
 border-radius:50% ;
 background-color: var(--maincolor);
}
.fa-check{
  color: #ADDB31;
}
.p-sec-foods{
  font-family: 'Fredoka One';
  font-size: 18px;
  font-weight: 400;
  color: #555555;
  margin-bottom: 10px;
}
.pos{
  right: 0px;
  left: 0px;
  
}
.h3-style{
   font-family: 'Fredoka One';
  font-size: 28px;
  font-weight:bolder;
}
.sec3{
  background-color: #F5F8FD;
  margin-bottom: 100px;
}
.bg-figure{
 border-radius: 50%;
 background-color: var(--maincolor);
 padding: 20px;
 
}
.bg-figure img{
 width: 100%;
 height: auto;
 display:block;

}
.border1{
  border: solid var(--maincolor) 5px;
  border-radius: 50%;
  padding: 5px;
  display: inline-block; 
}
.p-style{
  font-size:18px ;
  font-weight: bold;
  font-family: 'Fredoka One';
  color: #F3274C;
}
.border2{
  border-bottom: 5px solid var(--maincolor);
  border-left: 5px solid var(--maincolor);
  border-radius: 15px;
 
}
.border3{
   border-bottom: 5px solid var(--maincolor);
  border-right: 5px solid var(--maincolor);
  border-radius: 15px;
}
.our-text h2{
  font-size: 50px;
   font-weight: bold;
  font-family: 'Fredoka One'
}
.img-bg,.dg-img-sec,.bg-sec{
  background-image: url('../imges/3.png');
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;

}
.bg-sec{
  background-image: url('../imges/Rectangle\ 684.png');
}
.content-menu{
  width: 50%;
  margin-left: 150px;
  padding-top: 100px;
}
.content-menu h2{
  font-family: Oswald;
  font-size: 100px;
  font-weight: bold;
  color: white;
}
.content-menu p{
  font-family: Oswald;
  font-size: 20px;
  font-weight: bold;
  color:var(--maincolor);
}
.content-menu p:nth-of-type(2){
  font-family: Oswald;
  font-size: 28px;
  font-weight: bold;
  color:white;
}
.content-menu span{
  font-family: Oswald;
  font-size: 55px;
  font-weight: bold;
  color:white;
}
.card1{
  width: 250px;
  height: 350px;
  padding: 20px;
  border-radius: 15px;
}
.cont-sec1 p,.disc-product p {
  font-family: Oswald;
  font-size: 17px;
  font-weight: bold;
  color: #00A149;
}
.disc-product p{
  color: var(--maincolor);
}
.cont-sec1 h2{
  font-family: Oswald;
  font-size: 60px;
  font-weight: bold;
  color: #212121;
}
.disc-product h3{
  font-family: Oswald;
  font-size: 28px;
  font-weight: bold;
  color: #212121;

}
.col-md-bg,.col-md-bg1,.bg-row{
  background-image: url('../imges/Background\(2\).png');
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius:10px;

}
.col-md-bg1{
  background-image: url('../imges/Background\ \(1\).png');

}
.bg-row{
  background-image: url('../imges/Section.png');
  height: 100vh;
  background-size: contain;
}
.dg-img-sec{
    background-image: url('../imges/Rectangle\ 682.png');
}

.col-md-bg p{
  font-family: Oswald;
  font-size: 18px;
  font-weight: bold;
  color: var(--maincolor);
}
.col-md-bg h3{
  font-family: Oswald;
  font-size: 55px;
  font-weight: bold;
  color: white;
}
.content1 p{
   font-family: Oswald;
   font-size: 28px;
   font-weight: bold;  
}
.content1 h2{
   font-family: Oswald;
   font-size: 60px;
   font-weight: bold;  
}
.content1 span{
    color: var(--maincolor);
}
.content1 p:last-of-type{
   font-family: Oswald;
   font-size: 36px;
   font-weight: bold;  
}
.p-row1{
  font-family: Oswald;
  font-size: 20px;
  font-weight: bold;
}
.sec4{
  margin-top: 100px;
  padding: 50px;
  margin-bottom: 100px;
}
.bg-p{
  background-color: var(--maincolor);
  padding: 10px;
  border-radius: 10px;
}
.content2 p:nth-of-type(2){
  color: #5C5C5B;
  font-size: 16px;
  font-family:Oswald ;
}
.content2 p:nth-of-type(3){
  color: #5C5C5B;
  font-size: 17px;
  font-family:Oswald;
  font-weight: bold;
}
.h2-de{
  color:#212121;
  font-size: 20px;
  font-family:Oswald;
  font-weight: bold;
  text-align: center;
}
.figure-menu{
  border-radius: 15px;
  height: 300px;
}
.wecook{
  width: 200px;
  height: 200px;
  background-image: url('../imges/Background\(3\).png');
  padding-left: 70px;
  padding-right: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0px;
  
  background-repeat: no-repeat;
  background-size:cover ;

 margin: 0;
}
.wecook h3{
  font-size: 28px;
  font-family:Oswald;
  font-weight: bold;
}
.disc h2{
  font-size: 60px;
  font-family: Oswald;
  font-weight: bold;
}
.disc p,.p-hotfood,.p-secc4{
  font-size: 17px;
  font-family: Oswald;
  color: #5C5C5B;
}
.part1-sp-clints p:first-of-type{
  font-size: 17px;
  font-family: Oswald;
  color: #000; 
}
.part1-sp-clints p:last-of-type{
  font-size: 50px;
  font-family: Oswald;
  color:var(--maincolor); 
  font-weight: bold;
}
.btn-categry{
  width: 159px;
  height:59px ;
  border-radius: 27px;
  border: #D9D9D9 solid 2px;
  transition:1s all ;
  font-size: 18px; 
  font-family:Oswald ;
  font-weight: bold;
}
.btn-categry:hover{
  border: 0;
  background-color: var(--maincolor);
}
.h2-se3{
  font-family:Oswald;
  font-size: 20px;
  color: #212121;
  font-weight: bold;
}
.price{
  color: var(--maincolor);
  font-family:Oswald;
  font-weight: bold;
  font-size: 17px;
}
.border-bot{
  border-bottom: #2bc771 solid 2px;
}
.h3-sec4{
  font-family:Oswald;
  font-weight: bold;
  font-size: 28px;
  color: #212121;
}
.content-contact p:first-of-type{
  font-family: Poppins;
  font-weight: 500;
  color: white;
  border-bottom: #F3274C solid 2px;
  display: inline;
  padding-bottom: 5px;
}
.content-contact h2{
  font-family: Poppins;
  font-weight: 700;
  color: white;
  margin-top: 20px;
  font-size: 48px;
}
.content-contact p:last-of-type{
  font-family: Poppins;
  font-weight: 500;
  color: white;
  margin-top: 20px;
  
}
.content-contact button{
 height: 43px;
 width: 143px;
 background-color: #D63D41;
 color: white;
 margin-top: 20px;
 border: 0;
 font-family: Poppins;
}
.smail-div{
  background-color: rgb(19, 27, 30);
  width: 250px;
  height: auto;
  padding: 20px;
  
}
.min-div{
  background-color:rgba(0, 0, 0,0.8);
  width: 350px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.smail-div h4{
  font-family: Poppins;
  font-weight: 700;
  color: white;
  font-size: 24px;
}
.smail-div h4:last-of-type{
  color:#FEC51E;
  margin-top: 70px;
}
.smail-div p{
  font-family: Poppins;
  font-weight: 500;
  color: white;
  font-size: 20px;
}
.cont > p:first-of-type{
  color: #D63D41;
  font-family: Poppins;
  font-weight: 500;
  border-bottom: solid 2px #D63D41 ;
  display: inline;
  padding-bottom: 5px;
}
.cont h3{
  font-family: Poppins;
  font-weight: bold;
  padding-bottom: 5px;
  margin-top: 15px;
  font-size: 36px;
}
.caption-top{
 background-color: #F3274C; 
 width: 75%;
 margin: auto;
 padding: 20px;
 margin-top: 50px;
}
.caption-top h4{
  color:white;
  font-family: Poppins;
  font-weight: bold;

  font-size: 24px;
}
.caption-top h4{
  font-family: Poppins;
}
.text h1{
  font-family: Poppins;
  font-weight: bold;
  font-size: 48px;
}

@media only screen and (max-width: 575px) {
  .style-head{
    font-size: 20px;
  }
  .p{
    font-size: 10px;
    margin-top: 10px;
  }
  .content{
    width: 100%;
    
  }
  .content-sec1 h2{
  font-family: var(--mainfontoftext);
  font-size: 40px;
  font-weight: bold;

}
.button-style1  .button2{
  margin-top: 20px;
  margin-left: 0;
}
 .content-sec1 .p-1{
  font-family: var(--mainfontoftext);
  font-size:18px;
  color: black;
  margin-top: 20px;
}
.cat{
  width: auto;
  margin: auto;
}
.cat  h4{
   color: white;
   font-size: 25px;
   font-family: var(--mainfontoftext);
   
}
.cat  p{
   color: white;
   font-size: 10px;
   font-family: var(--mainfontoftext);
}
.m{
  margin-bottom: 20px;
  margin-top: 20px;
}
.card{
  width: auto;
  height: auto;
  
  
}
.buttons{
  margin-top: 20px;
}
.sec-content .h2-sec{
  font-size: 40px;
}
.bg{
  margin: auto;
  width: auto;
}

 .bg-cont-ourvision {
    height: auto;
    padding: 40px 15px;
    background-size: cover;
  }

  .our-content {
    width: 100%;
    text-align: center;
  }

  .bg-cont-ourvision h2 {
    font-size: 32px;
    line-height: 1.2;
  }

  .our-content p {
    font-size: 16px;
  }

  
  .our-content .d-flex {
    flex-direction: column;
  }

  .our-content .d-flex input {
    margin-left: 0 !important;
  }

  
  .button1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .p2-2 {
    display: none;
  }
  .imgs {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
  }

  .imgs img {
    width:auto ;
    max-width: 260px;
   
  }

  .transform {
    transform: none;
  }
  .order {
    position: static;
    width: 220px;          
    height: auto;          
    margin: 25px auto;     
    border-radius: 25px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .order img {
    width: 100px;           
    height: auto;
  }

  .order p {
    font-size: 14px;      
    line-height: 1.2;
  }
  .border2{
    text-align: center;
  }
  .content-menu{
    width: 100%;
    margin-left: 20px;
    padding-top: 20px;
  }
  .content-menu h2{
  font-family: Oswald;
  font-size: 25px;
  font-weight: bold;
  color: white;
  margin-bottom: 0;
}
.content-menu p{
  font-family: Oswald;
  font-size: 12px;
  font-weight: bold;
  color:var(--maincolor);
}
.content-menu p:nth-of-type(2){
  font-family: Oswald;
  font-size: 12px;
  font-weight: bold;
  color:white;
  margin-top: 0;
}
.content-menu span{
  font-family: Oswald;
  font-size: 15px;
  font-weight: bold;
  color:white;
}
.img-bg{
  background-size: contain;
  min-height: 100vh;
}
.button-style{
  display: none;
}
  
}

@media (min-width: 576px) and (max-width: 767px) {
  .style-head{
    font-size: 35px;
  }
  .p{
    font-size: 15px;
    margin-top: 10px;
  }
  .content{
    width: 75%;
    
  }
  .cat{
  width: 500px;
  margin: auto;
}
.cat  h4{
   color: white;
   font-size: 25px;
   font-family: var(--mainfontoftext);
   
  
}
.cat  p{
   color: white;
   font-size: 12px;
   font-family: var(--mainfontoftext);
  ;
}
.m{
  margin-bottom: 20px;
  margin-top: 20px;
}
 .bg-cont-ourvision {
    height: auto;
    padding: 40px 15px;
    background-size: cover;
  }

  .our-content {
    width: 100%;
    text-align: center;
  }

  .bg-cont-ourvision h2 {
    font-size: 50px;
    line-height: 1.2;
  }

  .our-content p {
    font-size: 16px;
  }

  
  .our-content .d-flex {
    flex-direction: column;
  }

  .our-content .d-flex input {
    margin-left: 0 !important;
  }

  
  .button1 {
    display: flex;
    justify-content: center;
  }

  .p2-2 {
    display: none;
  }
  .imgs {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
  }

  .imgs img {
    width: 85%;
    max-width: 260px;
   
  }

  .transform {
    transform: none;
  }
  .order {
    position: static;
    width: 220px;          
    height: auto;          
    margin: 25px auto;     
    border-radius: 25px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .order img {
    width: 100px;           
    height: auto;
  }

  .order p {
    font-size: 14px;      
    line-height: 1.2;
  }
 
 
}
@media (min-width: 768px) and (max-width: 991px) {
   .style-head{
    font-size: 35px;
  }
  .p{
    font-size: 15px;
    margin-top: 10px;
  }
  .content{
    width: 75%;
    
  }
  .conent-sec1{
    width: 100%;
  }
  .cat{
  width: 500px;
  margin: auto;
}
.cat  h4{
   color: white;
   font-size: 30px;
   font-family: var(--mainfontoftext);
   
}
.cat  p{
   color: white;
   font-size: 10px;
   font-family: var(--mainfontoftext);
}
.f{
  width: 100%;
}
.margin{
  margin-left: 50px;
}
.m{
  margin-bottom: 20px;
  margin-top: 20px;
}
 .bg-cont-ourvision {
    height: auto;
    padding: 60px 0;
  }

  .our-content {
    width: 100%;
    
  }

  .order {
    top: 20px;
    margin-bottom: 50px;
  }

  .imgs {
    position: static;
    margin-top: 40px;
    text-align: center;
  }

  .imgs img {
    width: 220px;
    margin: 10px;
  }

  .transform {
    transform: none;
  }

}
@media (min-width: 992px) and (max-width: 1199px) {
 
   .style-head{
    font-size: 40px;
  }
  .p{
    font-size: 17px;
    margin-top: 10px;
  }
  .content{
    width: 75%;
    
  }
    .conent-sec1{
    width: 100%;
  }
  .cat{
  width: 500px;
  margin: auto;
}
.cat  h4{
   color: white;
   font-size: 30px;
   font-family: var(--mainfontoftext);
   
}
.cat  p{
   color: white;
   font-size: 10px;
   font-family: var(--mainfontoftext);
}
.f{
  width: 100%;
}
.margin{
  margin-left: 170px;
}
.bg-cont-ourvision {
    height: auto;
    padding: 60px 0;
  }

}


